// style for topline

.topline {
    background: rgba(83, 117, 95, 0.99);
    display: flex;
    height: 32px; 
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 15px;
    .searchform {
        display: flex;
        margin-left: 1087px;
        width: 135px;
        height: 20px;
        margin-right: 34px;
        #search {
            border: none;
            border-bottom: 0.25px solid rgba(236, 255, 247, 0.5);
            background: transparent;
            width: 110px;
            color: rgba(236, 255, 247, 0.5);
            &::placeholder {
                background: transparent;
                border: none;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: rgba(236, 255, 247, 0.5);
            }
        }
        .labelimage:hover {
            opacity: 0.7;
        }
    }
    .phonenumber {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #ECFFF7;
        margin-right: 29px;
    }
    .languageflag {
        width: 20px;
        height: 20px;
        background-image: url('../../assets/img/flag.png');
        background-size: cover;
        margin-right: 5px;
    }
    .changelang {
        background-image: url('../../assets/img/down.svg');
        background-size: cover;
        width: 6px;
        height: 6px;
        margin-top: 14px;
    }
}

// logo style



// style for secondline

.secondline {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
    .headerlogo {
        margin-left: 467px;
        margin-right: 521px;
    }
    .authheader {
        display: flex;
        align-content: center;
        text-align: center;
        justify-content: center;
        align-items: center;
        .maphide {
            display: flex;
            margin-right: 15px;
            align-content: center;
            align-items: center;
            .authheader_text {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #3F3B35;
            }
            // agm-map {
            //     height: 300px;
            // }
        }
        .verticalline {
            width: 16px;
            height: 0px;
            border: 0.5px solid #D1CDCD;
            transform: rotate(90deg);
        }
        .signin {
            margin-right: 15px;
            margin-left: 15px;
            align-content: center;
            text-align: center;
            justify-content: center;
            align-items: center;
            .authheader_text_signin {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #3F3B35;
            }
        }
        .countgoods {
            margin-left: 15px;
            position: relative;
            .countOf {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
                color: #3F3B35;
                position: absolute;
                top: 5px;
            }
            #like {
                left: 27px;
            }
            #cart {
                right: 13px;
            }
        }
    }
}

// style for menu

.menu_container {
    display: flex;
    // justify-content: center;
    .menu {
        display: flex;
        margin-left: 438px;
        &:first-child {
            margin-right: 0px;
        }
        &_item {
            // margin-right: 58px;
            // position: relative;
            height: 50px;
            padding: 10px 29px 15px 29px;
            &:hover {
                background-color: #404445;
            }
            &:hover .menu_item_name {
                color: #FFF;
            }
            &_name {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                letter-spacing: 0.06em;
                color: #3F3B35;
            }
        }
    }
}


 
.menu_content {
    // display: none;
    position: absolute;
    // margin-left: 390px;
    top: 175px;
    left: 390px;
    width: 1140px;
    height: 304px;
    background: #404445;
    padding-left: 77px;
    padding-right: 77px;
    padding-top: 40px;
    padding-bottom: 40px;
    .good_content {
        display: flex;
        border-bottom: solid 0.25px #FFF;
        padding-bottom: 40px;
        margin-bottom: 40px;
        .textside {
            display: flex;
            flex-wrap: wrap;
            width: 406px;
            height: 106px;
            justify-content: space-between;
            margin-right: 409px;
            &_block {
                display: flex;
                flex-direction: column;           
                }
            }
        .imageside {
            margin-top: 31px;
        }
    }
    .aboutgood {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        // margin-left: 196px;
        // margin-right: 196px;
        // width: 749px;
        &_text {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #ECFFF7;
        }
    }
}

.menu_content_link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #ECFFF7;
    text-decoration: none;
    margin-bottom: 10px;
    &:visited {
        text-decoration: none;
        color: #ECFFF7;
    }
    &:hover {
        text-decoration: underline;
    }
}
// #tea_cont {
//     display: block;
// }