<div class="up-container">
  <div class="leftside">
    <div class="column">
      <h3 class="column_headtext">My Account</h3>
      <p class="column_text">Sign In</p>
      <p class="column_text">My Wishlist</p>
      <p class="column_text">My Shopping Cart</p>
      <p class="column_text">Customer Service</p>
      <p class="column_text">Return Policy</p>
    </div>
    <div class="column">
      <h3 class="column_headtext">Stock</h3>
      <p class="column_text">Tea</p>
      <p class="column_text">Coffee</p>
      <p class="column_text">Snack</p>
      <p class="column_text">Present</p>
    </div>
    <div class="column">
      <h3 class="column_headtext">Information</h3>
      <p class="column_text">About Us</p>
      <p class="column_text">Reviews</p>
      <p class="column_text">Delivery</p>
    </div>
  </div>
  <div class="rightside">
    <h3 class="column_headtext">Contact Us</h3>
    <p class="hour"><img class="imgphonenumber" src="../../assets/img/Call.svg">09:00 - 19:00</p>
    <p class="phonenumber">+(380) 887 66 55</p>
    <p class="emailicon"><img class="imgemailicon" src="../../assets/img/E-mail.svg">E-mail</p>
    <p class="email">green_lotus@gmail.com</p>
  </div>
</div>

<div class="line"></div>

<div class="down-container">
  <div class="icons">
    <img src="../../assets/img/instagram 2.svg" alt="instagram" class="icon">
    <img src="../../assets/img/pin 2.svg" alt="pin" class="icon">
    <img src="../../assets/img/twitter 2.svg" alt="twitter" class="icon">
    <img src="../../assets/img/Facebook 2.svg" alt="facebook" class="icon">
    <img src="../../assets/img/telegram 2.svg" alt="telegram" class="icon">
  </div>
  <div class="logo logofooter">
    <img src="../../assets/img/lotus-1.svg">
    <p class="logotext footer_logotext">● Green Lotus ● <br>STORE</p>
  </div>
</div>