<div class="banner">
  <img class="leftarrow" src="../../assets/img/leftarrow.svg">
  <div class="content">
    <h1 class="content-headtext">Bohemian Raspberry</h1>
    <p class="content-text">Royal Raspberry with canella and lemon.<br> Perfect flavor, enjoy it!</p>
    <button class="butt butt-banner">buy</button>
  </div>
  <img class="rightarrow" src="../../assets/img/rightarrow.svg">
</div>

<div class="container-imageproducts">
  <div class="imageproducts">
    <div class="product">
      <img class="imageofproduct" src="../../assets/img/teaimage.png" alt="">
      <p class="nameproduct">Tea</p>
    </div>
    <div class="product">
      <img class="imageofproduct" src="../../assets/img/coffeeimage.png" alt="">
      <p class="nameproduct">Coffee</p>
    </div>
    <div class="product">
      <img class="imageofproduct" src="../../assets/img/snackimage.png" alt="">
      <p class="nameproduct">Snack</p>
    </div>
    <div class="product">
      <img class="imageofproduct" src="../../assets/img/presentimage.png" alt="">
      <p class="nameproduct">Present</p>
    </div>
  </div>
</div>

<div class="container-aboutus">
  <div class="aboutuscontent">
    <div class="textside">
      <h3 class="aboutusheadtext">About Us</h3>
      <p class="aboutustext">
        Our founder Edwin Henry Booth started as a tea dealer and travelled often in search of excellent tea and coffee.
        His expertise has been passed on through generations of the family and we have always blended our tea and
        roasted our coffee in-house. When we taste our tea and coffee, we still weigh the samples using a sixpence, as
        it was done during original tastings in India. Woe betide anyone who loses the sixpence!</p><br>
      <div class="aboutusline"></div>
      <p class="aboutustext">Our teas are carefully
        packaged in small batches as soon as they are blended to ensure that they stay fresh down to the last cup. </p>
      <p class="aboutustext">Our in-house coffee team are bean fiends who sort, blend and hand-roast our coffee in small
        batches and pack them
        the same day for a really fresh taste.
      </p>
    </div>
    <div class="imageside">
      <img src="../../assets/img/551720-PK2X8S-235.png" class="imgaboutus">
    </div>
  </div>
</div>

<div class="container_coffee">
  <div class="content-container_coffee">
    <h1 class="coffeebanertext">New tastes for You</h1>
    <button class="butt butt-bannercoffee">buy</button>
  </div>
</div>

<div class="lastbanneronmainpage">
  <div class="contentlastbanner">
    <div class="textsidelast">
      <h3 class="nametext">Recommend You</h3>
      <p class="centertext">Citrus Ball Tea</p>
      <div class="line"></div>
      <p class="contentext"><span class="underline">Ingredients:</span> Candied Pineapple Pieces, White Tea, Orange Peels, White Hibiscus Petals,
        Cinnamon, Natural Flavor, Ginger, Rose Hip Peels, Apple Pieces, Carob Pieces, Lemongrass, Chicory Root,
        Blackberry Leaves, Cardamom, Basil, Lemon Peels, Ascorbic Acid (Vitamin C), Cloves, Black Pepper, Citric Acid,
        Honey.</p>
        <p class="contentext"><span class="underline">Producing Country:</span> Sri Lanka</p>
        <p class="contentext"><span class="underline">Type of Tea:</span> loose tea</p>
        <p class="contentext" id="lastcontenttext"><span class="underline">Availability:</span> in stock</p>
        <div class="priceline">
          <p class="price"><b>$ 7.50</b> / 100g</p>
          <button class="butt butt_price">add to cart</button>
          <img src="../../assets/img/heartinprice.svg"> 
        </div>
    </div>
    <div class="imagesidelast"></div>
  </div>
</div>