.mainbanner {
    height: 235px;
    background-image: url('../../assets/img/bannercoffeepage.png');
    margin-bottom: 80px;
}

.navline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: solid #D1CDCD 1px;
    margin-left: 390px;
    margin-bottom: 25px;
    padding-left: 77px;
    padding-bottom: 40px;
    &-value {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #3F3B35;
        margin-right: 17px;
    }
    .ellipse {
        height: 4px;
        width: 4px;
        background: #544D40;
        border-radius: 100%;
        margin-right: 17px;
    }
    .navline-view {
        margin-left: 550px;
        margin-right: 35px;
    }
    .viewimage {
        margin-right: 15px;
    }
}

.maincontent {
    display: flex;
    padding-left: 467px;
    .sidebar {
        display: flex;
        flex-direction: column;
        width: 213px;
        .headsidebar {
            padding: 20px;
            border-bottom:  0.5px solid #D1CDCD;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #33402F;
        }
        .category {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: 0.5px solid #D1CDCD;
            .headcategory {
                display: flex;
                padding: 20px;
                position: relative;
                width: 213px;
                &-name {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: #33402F;
                }
                .plusminus {
                    width: 17px;
                    height: 17px;
                    border-radius: 100%;
                    border: solid 1px black;
                    position: absolute;
                    left: 173px;
                    
                    .minus {
                        width: 9px;
                        border-bottom: solid 1px black;
                        position: absolute;
                        bottom: 8px;
                        right: 3px;
                    }
                    .plus {
                        width: 9px;
                        border-bottom: solid 1px black;
                        transform: rotate(90deg);
                        position: absolute;
                        left: 3px;
                        bottom: 8px;
                    }
                }
            }
            .choosen {
                width: 213px;
                padding-left: 20px;
                padding-bottom: 20px;

                .choosecoffee {
                    width: 213px;
                    margin-bottom: 15px;
                    .checkbox {
                        margin-right: 11px;
                    }
                    .nameofchoose {
                        // font-family: $fontRaleway;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        color: #33402F;
                        // display: flex;
                        // flex-wrap: wrap;s
                    }
                }
            }
        }
    }
    .sidecartcoffee {
        display: flex;
        flex-wrap: wrap;
        .cartofcoffe {
            display: flex;
            flex-direction: column;
            margin-right: 15px;
            margin-bottom: 15px;
            box-shadow: 0px 4px 10px rgba(126, 123, 123, 0.2);
            border-radius: 8px 8px 0px 0px;
            .iamgeofcoffee {
                width: 216px;
                height: 216px;
                margin-bottom: 20px;
            }
            .aboutallcoffee {
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                .nameofcoffee {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    
                    color: #33402F;
                }
                .charcter {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                   
                    color: #33402F;
                    margin-bottom: 10px;
                }
                .priceandlike {
                    display: flex;
                    margin-top: 15px;
                    margin-bottom: 21px;
                    .price {
                        margin-right: 58px;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 17px; 
                        color: #33402F;
                    }
                    .like {
                        background-image: url("../../assets/img/heartinprice.svg");
                        width:20px;
                        height: 20px;
                    }
                    // .active_like {
                        
                    // }
                }
                .dropaddtocart {
                    display: flex;
                    // margin-right: 10px;
                    // display: none;
                    // justify-content: space-around;
                    // padding-left: 20px;
                    .buttofcoffeecart {
                        width: 117px;
                        height: 32px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        color: #3F3B35;
                        margin-right: 15px;
                    }
                    .countofgood {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        align-content: center;
                        border: 1px solid #2A2A2A;
                        border-radius: 8px;
                        width: 64px;
                        height: 32px;
                    }
                }
            }
        }
    }
}

// .checkbox {
//     display: none;
// }

.label::before {
    content: ' ';
    display: inline-block;
    margin-right: 11px;
    background: transparent ;
    border: 1px solid #D1CDCD;
    border-radius: 8px;
    width: 20px;
    height: 20px;
    border-image: initial;
}

.carusel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // text-align: center;
    margin-left: 410px;
    width: 1000px;
}

.slick-next {
    position: absolute;
    z-index: 99 !important;
    &::before {
        content: url('../../assets/img/next1.svg');
    }
}

.slick-prev {
    position: absolute;
    z-index: 99 !important;
    &::before{
        content: url('../../assets/img/back1.svg');
    }
}

