<div class="mainbanner"></div>

<div class="navline">
    <p class="navline-value">Menu</p>
    <div class="ellipse"></div>
    <p class="navline-value">Coffee</p>
    <div class="ellipse"></div>
    <p class="navline-value">Whole bean coffee</p>
    <p class="navline-view">View</p>
    <img src="../../assets/img/grid2.svg" class="viewimage">
    <img src="../../assets/img/grid6.svg">
</div>

<div class="maincontent">
    <div class="sidebar">
        <h3 class="headsidebar">Coffee</h3>
        <div class="category">
            <div class="headcategory" (click)='showFormat()'>
                <h3 class="headcategory-name">Format</h3>
                <div class="plusminus">
                    <div class="minus"></div>
                    <div class="plus" *ngIf='!statusFormat'></div>
                </div>
            </div>
            <div class="choosen" *ngIf='statusFormat'>
                <form class="choosecoffee" *ngFor='let format of formats'>
                    <input type="checkbox" class="checkbox" [id]="format">
                    <label [for]="format" class="nameofchoose">
                        {{ format }}
                    </label>
                </form>
            </div>
        </div>
        <div class="category">
            <div class="headcategory" (click)='showDegree()'>
                <h3 class="headcategory-name">Roasting Degree</h3>
                <div class="plusminus">
                    <div class="minus"></div>
                    <div class="plus" *ngIf='!statusDegree'></div>
                </div>
            </div>
            <div class="choosen" *ngIf='statusDegree'>
                <form class="choosecoffee" *ngFor='let degree of roastingDegrees'>
                    <input type="checkbox" class="checkbox" [id]="degree">
                    <label [for]="degree" class="nameofchoose">
                        {{ degree }}
                    </label>
                </form>
            </div>
        </div>
        <div class="category">
            <div class="headcategory" (click)='showType()'>
                <h3 class="headcategory-name">Coffee Type</h3>
                <div class="plusminus">
                    <div class="minus"></div>
                    <div class="plus" *ngIf='!statusType'></div>
                </div>
            </div>
            <div class="choosen" *ngIf='statusType'>
                <form class="choosecoffee" *ngFor='let type of coffeeType'>
                    <input type="checkbox" class="checkbox" [id]="type">
                    <label [for]="type" class="nameofchoose">
                        {{ type }}
                    </label>
                </form>
            </div>
        </div>
        <div class="category">
            <div class="headcategory" (click)='showCountry()'>
                <h3 class="headcategory-name">Producing Country</h3>
                <div class="plusminus">
                    <div class="minus"></div>
                    <div class="plus" *ngIf='!statusCountry'></div>
                </div>
            </div>
            <div class="choosen" *ngIf='statusCountry'>
                <form class="choosecoffee" *ngFor='let country of producingCountryes'>
                    <input type="checkbox" class="checkbox" [id]="country">
                    <label [for]="country" class="nameofchoose">
                        {{ country }}
                    </label>
                </form>
            </div>
        </div>
        <div class="category">
            <div class="headcategory" (click)='showOffer()'>
                <h3 class="headcategory-name">View offers</h3>
                <div class="plusminus">
                    <div class="minus"></div>
                    <div class="plus" *ngIf='!statusOffer'></div>
                </div>
            </div>
            <div class="choosen" *ngIf='statusOffer'>
                <form class="choosecoffee" *ngFor='let offer of offers'>
                    <input type="checkbox" class="checkbox" [id]="offer">
                    <label [for]="offer" class="nameofchoose">
                        {{ offer }}
                    </label>
                </form>
            </div>
        </div>
    </div>

    <div class="sidecartcoffee">
        <div class="cartofcoffe" *ngFor='let coffee of coffees'>
            <img class="iamgeofcoffee" [src]='coffee.image' [routerLink]="[ '/coffeecart',coffee.id]">
            <div class="aboutallcoffee">
                <h3 class="nameofcoffee" (click)='addData(coffee.id)'>{{coffee.name}}</h3>
                <p class="charcter">● {{coffee.been | uppercase}}</p>
                <p class="charcter">● {{coffee.color | uppercase}}</p>
                <p class="charcter">● {{coffee.types | uppercase}}</p>
                <p class="charcter">● {{coffee.country | uppercase}}</p>
                <div class="priceandlike">
                    <p class="price">{{coffee.price}} <span id="gram">/ 100g</span></p>
                    <div class="like active_like"></div>
                </div>

                <div class="dropaddtocart" *ngIf="coffee.counterBlock">
                    <button class="butt buttofcoffeecart">add to cart</button>
                    <div class="countofgood">
                        <span id="minuscount" (click)='minusCart()'>-</span>
                        <p class="countdigit>">1</p>
                        <span id="pluscount" (click)='plusCart()'>+</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="carusel">
    <h3 class="carusel_name">Recently Viewed</h3>
    <!-- <ngx-slick-carousel 
    class="carousel"  
    #slickModal="slick-carousel" 
    [config]="slideConfig" 
    > -->
    <div *ngFor="let cart of viewCart" class="slide cartofcoffe">
        <img class="iamgeofcoffee" [src]='cart.image' [routerLink]="[ '/coffeecart',cart.id]">
        <div class="aboutallcoffee">
            <h3 class="nameofcoffee">{{cart.name}}</h3>
            <div class="priceandlike">
                <p class="price">{{cart.price}} <span id="gram">/ 100g</span></p>
                <div class="like active_like"></div>
            </div>
            <button class="butt buttofcoffeecart">add to cart</button>
        </div>
    </div>
    <!-- ngxSlickItem </ngx-slick-carousel> -->
</div>