/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

app-root {
    align-content: center;
    align-items: center;
}
// var fonts

$fontMontserat:'Montserrat', sans-serif;
$fontRaleway: 'Raleway', sans-serif;
$fontRibeye: 'Ribeye Marrow', cursive;

.countOf {
    font-family: $fontMontserat;
}

#search {
    font-family: $fontRaleway;
}

.phonenumber {
    font-family: $fontMontserat;
}

.logotext {
    font-family: $fontRaleway;
}

.authheader_text {
    font-family: $fontRaleway;
}

.authheader_text_signin {
    font-family: $fontRaleway;
}

.menu_item_name {
    font-family: $fontRaleway;
}

.menu_content_link {
    font-family: $fontRaleway;
}

.aboutgood_text {
    font-family: $fontRaleway;
}

.column_headtext {
    font-family: $fontRaleway;
}

.column_text {
    font-family: $fontRaleway;
}

.hour {
    font-family: $fontMontserat;
}

.emailicon {
    font-family: $fontRaleway;
}

.email {
    font-family: $fontRaleway;
}

// logo style

.logo {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    .logotext {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #544D40;
        margin-top: 3px;
    }
}

.content-headtext {
    font-family: $fontRibeye;
}

.content-text {
    font-family: $fontRaleway;
}

.butt {
    width: 213px;
    height: 38px;
    border: 1px solid #2B2A2A;
    border-radius: 8px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #2B2A2A;
    background-color: transparent;
    text-transform: uppercase;
    font-family: $fontRaleway;
    &:hover {
        // opacity: 0.7;
        background-color: rgba(72, 116, 0, 0.5);
    }
}

.nameproduct {
    font-family: $fontRaleway;
}

.aboutusheadtext {
    font-family: $fontRaleway;
}

.aboutustext {
    font-family: $fontRaleway;
}

.coffeebanertext {
    font-family: $fontRibeye;
}

.nametext, .centertext, .contentext {
    font-family: $fontRaleway;
}

.price {
    font-family: $fontMontserat;
}

.navline-value {
    font-family: $fontRaleway;
}

.navline-view {
    font-family: $fontRaleway; 
}

.headsidebar {
    font-family: $fontRaleway; 
}

.headcategory-name {
    font-family: $fontRaleway; 
}

.nameofchoose  {
    font-family: $fontRaleway; 
}

.charcter {
    font-family: $fontRaleway; 
}

.price {
    font-family: $fontMontserat;
}

#gram {
    font-family: $fontMontserat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #33402F;
}